server:
  port: 8083
spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.shopping.microservices.notification_service.event

  # Email Configuration
  mail:
    host: live.smtp.mailtrap.io
    port: 587
    username: api
    password: ${MAILTRAP_API_KEY}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
mail:
  sender:
    from: hello@demomailtrap.co