server:
  port: 8083
spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.shopping.microservices.notification_service.event

  # Email Configuration
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 587
    username: e28b0765c43c33
    password: ${MAILTRAP_API_KEY}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: true
# Actuator Configuration (for Prometheus)
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,caches
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      sla:
        http.server.requests: 10ms,50ms,100ms,200ms,500ms,1s
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
mail:
  sender:
    from: hello@demomailtrap.co