spring:
  config:
    activate:
      on-profile: dev

logging:
  level:
    root: DEBUG

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
