# Server Configuration
server:
  port: 8082

spring:
  application:
    name: order-service
  web:
    resources:
      add-mappings: false


  # MySQL Database Configuration
  datasource:
    url: jdbc:mysql://localhost:3308/order_service_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: order_user
    password: order_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  # Initialize schema
  sql:
    init:
      mode: never
      schema-locations: classpath:schema.sql

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

# Logging
logging:
  level:
    org:
      springframework:
        web: INFO
      hibernate:
        SQL: DEBUG
    com:
      shopping:
        microservices: DEBUG


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka