# Server Configuration
server:
  port: 8081

spring:
  application:
    name: product-service
  web:
    resources:
      add-mappings: false

  # MySQL Database Configuration
  datasource:
    url: jdbc:mysql://localhost:3307/product_service_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: product_user
    password: product_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA/Hibernate Configuration
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  # Initialize schema
  sql:
    init:
      mode: never
      schema-locations: classpath:schema.sql
  flyway:
    enabled: true
    locations: classpath:db/migration

  # Redis Configuration
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 5000ms
      lettuce:
          pool:
              max-active: 8
              max-idle: 8
              min-idle: 2
              max-wait: -1ms



# Redisson Configuration
redisson:
  address: redis://localhost:6379
  connection-pool-size: 50
  connection-minimum-idle-size: 10
  timeout: 3000
  retry-attempts: 3
  retry-interval: 1500

# Actuator Configuration (for Prometheus)
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,caches
      base-path: /actuator
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      sla:
        http.server.requests: 10ms,50ms,100ms,200ms,500ms,1s
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

# Logging
logging:
  level:
    org:
      springframework:
        web: INFO
        cache: TRACE
      hibernate:
        SQL: DEBUG
      flywaydb: DEBUG
    com:
      shopping:
        microservices: DEBUG
      github:
        benmanes:
            caffeine: TRACE


app:
  cache:
    caffeine:
      max-size: 10000
      expire-after-write: 5m
    redis:
      default-ttl: 10m
  warming:
    enabled: true
    top-products-limit: 100

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka